$lightskyblue: rgb(135, 206, 250);
$white: rgb(255, 255, 255);
$lightgray: rgba(211, 211, 211, 0.7);

.days {
    color: $white;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    .day {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.date {
    text-align: center;
    border-bottom: 1px solid $white;
    padding-bottom: 7px;
}

.city {
    text-align: center;
    color: $white;
    margin-top: 70px;
}

.value {
    align-items: flex-end;
}

.weather-details {
    margin-left: 15px;

    .weather-detail {
        display: flex;
        font-weight: 500;
        align-self: center;
        margin-bottom: 3px;
    }
}