<div class="days">
    <div class="day">
        <h3 class="date">Den 1</h3>
        <div class="weather-details">
            <div class="weather-detail">Teplota: 25C</div>
            <div class="weather-detail">Pocitová teplota: 23C</div>
            <div class="weather-detail">Vlhkost: 80</div>
            <div class="weather-detail">Oblačnost: Oblačno</div>
        </div>
    </div>
    <div class="day">
        <h3 class="date">Den 1</h3>
        <div class="weather-details">
            <div class="weather-detail">Teplota: 25C</div>
            <div class="weather-detail">Pocitová teplota: 23C</div>
            <div class="weather-detail">Vlhkost: 80</div>
            <div class="weather-detail">Oblačnost: Oblačno</div>
        </div>
    </div><div class="day">
        <h3 class="date">Den 1</h3>
        <div class="weather-details">
            <div class="weather-detail">Teplota: 25C</div>
            <div class="weather-detail">Pocitová teplota: 23C</div>
            <div class="weather-detail">Vlhkost: 80</div>
            <div class="weather-detail">Oblačnost: Oblačno</div>
        </div>
    </div><div class="day">
        <h3 class="date">Den 1</h3>
        <div class="weather-details">
            <div class="weather-detail">Teplota: 25C</div>
            <div class="weather-detail">Pocitová teplota: 23C</div>
            <div class="weather-detail">Vlhkost: 80</div>
            <div class="weather-detail">Oblačnost: Oblačno</div>
        </div>
    </div><div class="day">
        <h3 class="date">Den 1</h3>
        <div class="weather-details">
            <div class="weather-detail">Teplota: 25C</div>
            <div class="weather-detail">Pocitová teplota: 23C</div>
            <div class="weather-detail">Vlhkost: 80</div>
            <div class="weather-detail">Oblačnost: Oblačno</div>
        </div>
    </div>                   
</div>
