<app-search (city)="getCity($event)" (outputDays)="getDays($event)"></app-search>
<div class="city">
    <h2>{{city}}</h2> 
</div>
<div class="days">
    <div class="day" *ngFor="let day of days">
        <h3 class="date">{{ day.date | date:'dd.MM' }}</h3>
        <div class="weather-details">
            <div class="weather-detail">Teplota: {{ day.temperature }} ° C</div>
            <div class="weather-detail">Pocitová teplota: {{ day.feelsLike}} ° C</div>
            <div class="weather-detail">Vlhkost: {{ day.humidity }} %</div>
            <div class="weather-detail">Oblačnost: {{ day.cloudiness}} %</div>
            <img src="{{environment.icon_url}}{{day.icon}}@2x.png" width="100" height="100">
        </div>
    </div>                       
</div>
